<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>items</key>
	<array>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>headerCellClass</key>
			<string>DOHeaderCell</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>headerCellClass</key>
			<string>DOButtonCell</string>
			<key>title</key>
			<string>Credits_Button_Source_Code</string>
			<key>key</key>
			<string>src</string>
			<key>image</key>
			<string>filemenu.and.cursorarrow</string>
			<key>action</key>
			<string>openSourceCode</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>headerCellClass</key>
			<string>DOButtonCell</string>
			<key>title</key>
			<string>Credits_Button_Discord</string>
			<key>key</key>
			<string>discord</string>
			<key>image</key>
			<string>bubble.left.and.bubble.right.fill</string>
			<key>action</key>
			<string>openDiscord</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>headerCellClass</key>
			<string>DOButtonCell</string>
			<key>title</key>
			<string>Credits_Button_License</string>
			<key>key</key>
			<string>license</string>
			<key>image</key>
			<string>newspaper</string>
			<key>action</key>
			<string>openLicense</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>Developers</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>headerCellClass</key>
			<string>DOCreditsCell</string>
			<key>names</key>
			<array>
				<dict>
					<key>name</key>
					<string>PhucAnhDeveloper</string>
					<key>link</key>
					<string>https://github.com/phucanhxphuong</string>
				</dict>
			</array>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>UI and Design</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>headerCellClass</key>
			<string>DOCreditsCell</string>
			<key>names</key>
			<array>
				<dict>
					<key>name</key>
					<string>PhucAnhDeveloper</string>
					<key>link</key>
					<string>https://facebook.com/phucanhwindow11</string>
				</dict>
			</array>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>Credits</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>headerCellClass</key>
			<string>DOCreditsCell</string>
			<key>names</key>
			<array>
				<dict>
					<key>name</key>
					<string>PhucAnhDeveloper</string>
					<key>link</key>
					<string>https://www.facebook.com/phucanhwindow11/</string>
				</dict>
				<dict>
					<key>name</key>
					<string>Hai Wibu</string>
					<key>link</key>
					<string>https://www.facebook.com/profile.php?id=100072677028475</string>
				</dict>
				
			</array>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>footerText</key>
			<string></string>
		</dict>
	</array>
	<key>title</key>
	<string>Dopamine Settings</string>
</dict>
</plist>
